<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <%- include('../partials/astylesheet') %>

</head>

<body>
    <%- include('../partials/aheader',{title:"banner"}) %>

        <section class="content-main main-wrap">


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span id="spanalert"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="deletebutton" class="btn btn-primary"
                                onclick="confirmDeleteInModal()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Banners</h2>
                </div>
                <div>
                    <a href="/admin/banner/add" class="btn btn-primary btn-sm rounded">Add category</a>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                 
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Action</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% banners.forEach((banner)=> { %>
                                    <tr>
                                     
                                        <td style="width: 20%;">
                                                    <img src="/uploads/<%= banner.image %>" class="img-sm img-thumbnail"
                                                        alt="Item">
                                       
                                        </td>
                                        <td style="width: 20%;">
                                            <%= banner.title %>
                                        </td>
                                        <td style="width: 15%;">
                                            <a href="/admin/banner/editbanner?id=<%= banner._id %>"
                                                class="btn btn-sm font-sm rounded btn-brand" style="width: 80px;" >
                                                <i class="material-icons md-edit"></i> Edit</a>
                                        </td>
                                        <td style="width: 15%;">
                                            <button type="button" onclick="deleteconfirm('<%= banner._id %>','<%= banner.status %>')"
                                                class="btn btn-sm font-sm btn-light rounded <%= banner.status === 'List' ? 'alert-success' : 'alert-danger' %>"
                                                data-toggle="modal" data-target="#deleteModal" style="width: 80px;">
                                                <%= banner.status %>
                                            </button>

                                        <% }); %>
                            </tbody>
                        </table> 
                    </div>
                </div> 

            </div> 
            <div class="pagination-area mt-15 mb-50 d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if (typeof totalpages !=='undefined' ) {%>
                            <% if (page> 1) { %>
                        <li class="page-item"><a class="page-link" href="#" onclick="commonfunction(<%= page - 1 %>)"><i
                            class="material-icons md-chevron_left"></i></a></li>   <% } %>
                            <% for(let i=1; i<=totalpages;i++) { %>
                        <li class="page-item <%= i == page ? 'active' : '' %>"><a class="page-link" href="#"   onclick="commonfunction(<%=i%>)"><%=i%></a></li><% }; %>
                        <% if (page < totalpages) { %> <li class="page-item"><a class="page-link" href="#"  onclick="commonfunction(<%= Number(page)+1 %>)"><i
                                    class="material-icons md-chevron_right"></i></a></li> <% } %>
                                    <% } %>
                    </ul>
                </nav>
            </div>



        </section> 
        </main>
        <%- include('../partials/afooter') %>

            
            <script>
                let deleteid = ""
                function deleteconfirm(id, status) {
                    deleteid = id
                    let value
                    if (status == "List") {
                        value = "UnList"
                    } else {
                        value = "List"
                    }
                    const spanalert = document.getElementById("spanalert");
                    spanalert.innerHTML = `You want to ${value} this Banner?`
                    $('#exampleModal').modal('show')
                }

                function confirmDeleteInModal() {
                    const redirectUrl = `/admin/banner/list?id=${deleteid}`;
                    window.location.href = redirectUrl;
                }
                
                function commonfunction(page) {
            	window.location.href = `/admin/banner?page=${page}`
				}

            </script>
</body>

</html>