<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <%- include('../partials/astylesheet') %>

</head>

<body>
    <%- include('../partials/aheader',{title:"categories"}) %>

        <section class="content-main main-wrap">


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span id="spanalert"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="deletebutton" class="btn btn-primary"
                                onclick="confirmDeleteInModal()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Category List</h2>
                </div>
                <div>
                    <a href="/admin/category/add" class="btn btn-primary btn-sm rounded">Add category</a>
                </div>
            </div>


            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>

                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <% category.forEach(cat=> { %>
                        <article class="itemlist">
                            <div class="row align-items-center">
                                <div class="col col-check flex-grow-0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                    <a class="itemside" href="#">
                                        <div class="left">
                                            <img src="/uploads/<%= cat.images %>" class="img-sm img-thumbnail"
                                                alt="Item">
                                        </div>
                                        <div class="info">
                                            <h6 class="mb-0">
                                                <%= cat.catname %>
                                            </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                    <a href="/admin/category/editcat?id=<%= cat._id %>"
                                        class="btn btn-sm font-sm rounded btn-brand" style="width: 80px;" >
                                        <i class="material-icons md-edit"></i> Edit</a>
                                </div>

                                <div class="col-lg-2 col-sm-2 col-4 col-action text-end" >
                                    <button type="button" onclick="deleteconfirm('<%= cat._id %>','<%= cat.status %>')"
                                        class="btn btn-sm font-sm btn-light rounded <%= cat.status === 'List' ? 'alert-success' : 'alert-danger' %>"
                                        data-toggle="modal" data-target="#deleteModal" style="width: 80px;">
                                        <%= cat.status %>
                                    </button>
                                </div>
                            </div> <!-- row .// -->
                        </article> <!-- itemlist  .// -->
                        <% }); %>
                </div> <!-- card-body end// -->

            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        </main>
        <%- include('../partials/afooter') %>

            
            <script>
                let deleteid = ""
                function deleteconfirm(id, status) {
                    deleteid = id
                    let value
                    if (status == "List") {
                        value = "UnList"
                    } else {
                        value = "List"
                    }
                    const spanalert = document.getElementById("spanalert");
                    spanalert.innerHTML = `You want to ${value} this category?`
                    $('#exampleModal').modal('show')
                }

                function confirmDeleteInModal() {
                    const redirectUrl = `/admin/cat/list?id=${deleteid}`;
                    window.location.href = redirectUrl;
                }

            </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->

</html>