<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <%- include('../partials/astylesheet') %>
</head>

<body>
    <%- include('../partials/aheader',{title:"coupons"}) %>
        <section class="content-main main-wrap">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Coupon</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form  enctype="multipart/form-data" id="myForm">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Coupon Name</label>
                                    <input type="text" placeholder="Type here" name="name" class="form-control"
                                        id="product_name" value="<%= data.name %>">
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Percentage</label>
                                    <input type="text" placeholder="Type here" name="percentage" class="form-control"
                                        id="product_name" value="<%= data.percentage %>">
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Minimum purchase amount:</label>
                                    <input type="text" placeholder="Type here" name="minamount" class="form-control"
                                        id="product_name" value="<%= data.minamount %>">
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Maximum offer price:</label>
                                    <input type="text" placeholder="Type here" name="maxamount" class="form-control"
                                        id="product_name" value="<%= data.maxamount %>">
                                </div>
                                <input name="id" value="<%= data._id %>" hidden>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div> <!-- card end// -->
            </div>
            </div>
        </section> <!-- content-main end// -->
        </main>
        <%- include('../partials/afooter') %>
        <script>
            const form = document.getElementById("myForm")

            form.addEventListener("submit", (event) => {
                event.preventDefault();
                const data = { name: form.name.value , 
                        percentage:form.percentage.value ,
                        minamount:form.minamount.value ,
                        maxamount:form.maxamount.value ,
                         id:form.id.value}
        
            fetch("/admin/coupons/edit", {
                method: "POST",
                headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'Content-Type': 'application/json',
            },
                body: JSON.stringify(data),
            })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = "/admin/coupons"
                        } else {
                            Toastify({
                                text: data.message,
                                gravity: "bottom",
                                position: "center",
                                style: {
                                    background: "#f00",
                                }
                            }).showToast();
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error)
                    })
            })
        </script>
</body>
</html>