<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <%- include('../partials/astylesheet') %>
</head>

<body>
    <%- include('../partials/aheader',{title:"orders"}) %>
        <section class="content-main main-wrap">



            <div class="content-header">
                <h2 class="content-title">Orders</h2>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl no:</th>
                                    <th>Order Id:</th>
                                    <th>User Id:</th>
                                    <th>Total Price</th>
                                    <th>Status</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach((order,index)=> { %>
                                    <tr>
                                        <td style="width: 10%;">
                                            <%= index + 1 %>
                                        </td>
                                        <td style="width: 20%;">
                                            <%= order._id%>
                                        </td>
                                        <td style="width: 20%;">
                                            <%= order.user %>
                                        </td>
                                        <td style="width: 15%;">
                                            ₹ <%= order.totalprice %>
                                        </td>
                                        <td style="width: 15%;">
                                            <select id="statusDropdown" onchange="updateOrderStatus(this,'<%= order._id %>')">
                                                <option value="Placed" <%=order.status==='Placed' ? 'selected' : '' %>
                                                    >Placed</option>
                                                <option value="Shipped" <%=order.status==='Shipped' ? 'selected' : '' %>
                                                    >Shipped</option>
                                                <option value="Cancelled" <%=order.status==='Cancelled' ? 'selected'
                                                    : '' %>>Cancelled</option>
                                            </select>
                                        </td>

                                        <td style="width: 15%;">
                                            <a href="/admin/orders/orderdetail?id=<%= order._id %>"><button
                                                    type="button" class="btn btn-primary sm"
                                                    style="font-size: 12px; padding: 4px 8px;">Details</button></a>
                                        </td>

                                        <% }); %>
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->

        <%- include('../partials/afooter') %>
            <script>

                function updateOrderStatus(selectElement,id) {
                    const selectedStatus = selectElement.value;
                   
                 
                    fetch(`/admin/updateOrderStatus?orderId=${id}&status=${selectedStatus}`, {
                        method: 'GET', 
                        headers: {
                            'Content-Type': 'application/json',
                        },
                       
                    })
                        .then(response => response.json())
                        .then(data => {
                            window.location.reload();
                        })
                        .catch(error => {
                            console.error('Error updating order status:', error);
                        });
                }
            </script>


</body>

</html>