<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <%- include('../partials/astylesheet') %>
</head>

<body>
    <%- include('../partials/aheader',{title:"orders"}) %>
        <section class="content-main main-wrap">

           

            <div style="width:100%;">
                <p style="margin: 2px 0; font-weight: bold; font-size: 22px;"><span>Order details</span>
                <p style="margin:2px 0 "><span style="font-weight: bold; font-size: 15px;">Order id: </span><span>
                        <%= order._id %>
                    </span></p>
                <p style="margin:2px 0 "><span style="font-weight: bold; font-size: 15px;">Ordered On: </span><span>
                        <%=  order.orderDate.toLocaleDateString() %>
                    </span></p>
                <p style="margin:2px 0 "><span style="font-weight: bold; font-size: 15px;">Payment mode:
                    </span><span>
                        <%= order.paymentmethod %>
                    </span></p>
                <div
                    style=" background-color: rgb(235, 235, 235);  padding: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); margin-bottom: 20px;">
                    <p style="margin:2px 0 "><span style="font-weight: bold; font-size: 15px;">Address: </span></p>
                    <p style="margin:2px 0"><span>
                            <%= order.address.firstname %>
                                <%= order.address.lastname %>
                        </span> </p>
                    <p style="margin:2px 0"><span>
                            <%= order.address.address %>
                        </span></p>
                    <p style="margin:2px 0"><span>
                            <%= order.address.city %>, <%= order.address.state %>
                        </span></p>
                    <p style="margin:2px 0"><span>
                            <%= order.address.pincode %>
                        </span></p>
                    <p style="margin:2px 0"><span>Mobile:<%= order.address.mobile %></span></p>
                </div>
              
                    <% order.items.forEach(item=> { %>
                        <% if (item._id==itemid) { %>
                            <div
                                style=" background-color: rgb(235, 235, 235); padding: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); margin-bottom: 20px;">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex" style="gap: 20px;">
                                        <div style="margin-left: 15px;"> <img
                                                src="/uploads/<%= item.productId.images[0] %>" width="125" height="150"
                                                alt="Item"></div>
                                        <div>
                                            <p style="margin:2px 0; font-size: 18px; font-weight: bold;"><span>
                                                    <%= item.productId.brand %>
                                                </span></p>
                                            <p style="margin:2px 0; font-size: 14px; font-weight: bold;"><span>
                                                    <%= item.productId.name %>
                                                </span></p>
                                            <p style="margin:2px 0; font-size: 14px; font-weight: bold;"><span>₹<%=
                                                        item.productId.price %></span></p>
                                            <p style="margin:2px 0; font-size: 14px; font-weight: bold;"><span> Qnty:
                                                    <%= item.quantity %>
                                                </span></p>
                                            <p style="margin:2px 0; font-size: 14px; font-weight: bold;"><span>Status:</span><span style="font-weight: 500;">
                                                    <%= item.status %>
                                                </span></p>
                                                <% if (item.status=="Cancelled") {%>
                                                <p style="margin:2px 0; font-size: 14px; font-weight: bold;"><span >Reason:</span><span style="font-weight: 500;">
                                                    <%= item.cancel %>
                                                </span></p>
                                                <%} %>
                                                <% if (item.status=="Returned") {%>
                                                <p style="margin:2px 0; font-size: 14px; font-weight: bold;"><span>Reason:</span><span style="font-weight: 500;">
                                                    <%= item.return %>
                                                </span></p>
                                                <%} %>
                                        </div>
                                    </div>
                                    <div style="margin-right: 15px; ">

                                        <p style="margin:2px 0; font-size: 14px; font-weight: bold;">Amount &nbsp;:₹<%=
                                                item.productId.price * item.quantity%>
                                        </p>
                                        <p style="margin:2px 0; font-size: 14px; font-weight: bold;">Discount:₹<%=
                                                item.discountprice %>
                                        </p>
                                        <p style="margin:2px 0; font-size: 18px; font-weight: bold;">
                                            Total&nbsp;&nbsp;&nbsp;&nbsp;:₹<%= item.finalprice %>
                                        </p>

                                    </div>

                                </div>
                            </div>
                            <% } %>
                                <% }); %>


                                <% if (order.items.length>1) { %>
                                    <div style=" margin-bottom: 20px;">
                                        <div>
                                            <p><span style="font-weight: bold; font-size: 15px;">Other Items In This
                                                    Order</span></p>
                                        </div>
                                        <% } %>
                                        <% order.items.forEach(item=> { %>
                                            <% if (item._id!=itemid) { %>
                                                <div class="d-flex align-items-center justify-content-between"
                                                    style="margin-top:10px ; padding-bottom:10px ;">
                                                    <div class="d-flex" style="gap: 20px;">
                                                        <div style="margin-left: 15px;"> <img
                                                                src="/uploads/<%= item.productId.images[0] %>"
                                                                width="125" height="150" alt="Item"></div>
                                                        <div>
                                                            <p style="margin:2px 0; font-size: 16px;"><span>
                                                                    <%= item.productId.brand %>
                                                                </span></p>
                                                            <p style="margin:2px 0; font-size: 12px;"><span>
                                                                    <%= item.productId.name %>
                                                                </span></p>
                                                            <p style="margin:2px 0; font-size: 12px;"><span>₹<%=
                                                                        item.productId.price %>
                                                                </span></p>
                                                            <p style="margin:2px 0; font-size: 12px;"><span> Qnty: <%=
                                                                        item.quantity %>
                                                                </span></p>
                                                        </div>
                                                    </div>
                                                    <div style="margin-right: 15px;">
                                                        <p style="margin:2px 0; font-size: 16px;"><span>Status: <%=
                                                                    item.status %>
                                                            </span></p>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% }); %>
                        

                </div>
            </div>
        </section> <!-- content-main end// -->

        <%- include('../partials/afooter') %>
            <script>
                

            </script>
</body>

</html>