<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <%- include('../partials/astylesheet') %>
</head>

<body>
    <%- include('../partials/aheader',{title:"orders"}) %>
        <section class="content-main main-wrap">



            <div class="content-header">
                <h2 class="content-title">Orders</h2>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Order Id</th>
                                    <th>Total Price</th>
                                    <th>Date</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach((order)=> { %>
                                    <% order.items.forEach(item=> { %>
                                    <tr>
                                        <td style="width: 20%;">
                                            <%= item.productId.name %> 
                                        </td>
                                        <td style="width: 20%;">
                                                  <%= order._id%>
                                        </td>
                                        <td style="width: 15%;">
                                            ₹ <%= item.finalprice %>
                                        </td>
                                        <td style="width: 15%;">
                                            <%= order.orderDate.toLocaleDateString() %>
                                        </td>
                                        <td style="width: 15%;">
                                            <%= item.quantity %>
                                        </td>
                                        <td style="width: 15%;">
                                           
                                            <select id="statusDropdown" onchange="updateOrderStatus(this,'<%= order._id %>','<%= item._id %>')">
                                                <% if (item.status !== "Cancelled" && item.status !== "Delivered") { %>
                                                <option value="Placed" <%=item.status==='Placed' ? 'selected' : '' %>
                                                    >Placed</option>
                                                <option value="Shipped" <%=item.status==='Shipped' ? 'selected' : '' %>
                                                    >Shipped</option>
                                                <option value="Cancelled" <%=item.status==='Cancelled' ? 'selected'
                                                    : '' %>>Cancelled</option>
                                                    <option value="Delivered" <%=item.status==='Delivered' ? 'selected'
                                                    : '' %>>Delivered</option>
                                                    <% } else { %>
                                                        <option value="<%= item.status %>" selected><%= item.status %></option>
                                                        <% } %>
                                         
                                            </select>
                                        </td>

                                        <td style="width: 15%;">
                                            <a href="/admin/orders/orderdetail?orderid=<%= order._id %>&itemid=<%= item._id %>"><button
                                                    type="button" class="btn btn-primary sm"
                                                    style="font-size: 12px; padding: 4px 8px;">Details</button></a>
                                        </td>
                                        <% }); %>
                                        <% }); %>
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50 d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if (typeof totalpages !=='undefined' ) {%>
                            <% if (page> 1) { %>
                        <li class="page-item"><a class="page-link" href="#" onclick="commonfunction(<%= page - 1 %>)"><i
                            class="material-icons md-chevron_left"></i></a></li>   <% } %>
                            <% for(let i=1; i<=totalpages;i++) { %>
                        <li class="page-item <%= i == page ? 'active' : '' %>"><a class="page-link" href="#"   onclick="commonfunction(<%=i%>)"><%=i%></a></li><% }; %>
                        <% if (page < totalpages) { %> <li class="page-item"><a class="page-link" href="#"  onclick="commonfunction(<%= Number(page)+1 %>)"><i
                                    class="material-icons md-chevron_right"></i></a></li> <% } %>
                                    <% } %>
                    </ul>
                </nav>
            </div>

        </section> <!-- content-main end// -->

        <%- include('../partials/afooter') %>
            <script>

                function updateOrderStatus(selectElement,orderid,itemid) {
                    const selectedStatus = selectElement.value;
                   
                 
                    fetch(`/admin/updateOrderStatus?orderId=${orderid}&itemId=${itemid}&status=${selectedStatus}`, {
                        method: 'GET', 
                        headers: {
                            'Content-Type': 'application/json',
                        },
                       
                    })
                        .then(response => response.json())
                        .then(data => {
                            if(data.status){
                            window.location.href="/admin/orders";}
                        })
                        .catch(error => {
                            console.error('Error updating order status:', error);
                        });
                }

                function commonfunction(page) {
            	window.location.href = `/admin/orders?page=${page}`
				}
            </script>


</body>

</html>