<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <%- include('../partials/astylesheet') %>
</head>

<body>
    <%- include('../partials/aheader',{title:"products"}) %>
        <section class="content-main main-wrap">

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ALERT</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span>'Are you sure you want to delete this item?</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="deletebutton" class="btn btn-primary"
                                onclick="confirmDelete()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form id="myform">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>1. General info</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Product Name</label>
                                            <input type="text" placeholder="Type here" class="form-control" name="name"
                                                value="<%= data.name %>">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Description</label>
                                            <textarea placeholder="Type here" class="form-control" rows="4"
                                                name="description"> <%= data.description %></textarea>
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label">Colour</label>
                                            <select class="form-select" name="colour">
                                                <option value="White" <%=data.colour==="White" ? 'selected' : '' %>
                                                    >White</option>
                                                <option value="Warm" <%=data.colour==="Warm" ? 'selected' : '' %>>Warm
                                                </option>
                                                <option value="Red" <%=data.colour==="Red" ? 'selected' : '' %>>Red
                                                </option>
                                                <option value="Green" <%=data.colour==="Green" ? 'selected' : '' %>
                                                    >Green</option>
                                                <option value="Blue" <%=data.colour==="Blue" ? 'selected' : '' %>>Blue
                                                </option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Number of Lights</label>
                                            <select class="form-select" name="lights">
                                                <option value="One" <%=data.lights==="one" ? 'selected' : '' %>>One
                                                </option>
                                                <option value="Two" <%=data.lights==="Two" ? 'selected' : '' %>>Two
                                                </option>
                                                <option value="Three" <%=data.lights==="Three" ? 'selected' : '' %>
                                                    >Three</option>
                                                <option value="Four" <%=data.lights==="Four" ? 'selected' : '' %>>Four
                                                </option>
                                                <option value="Five" <%=data.lights==="Five" ? 'selected' : '' %>>Five
                                                </option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Brand Name</label>
                                            <select class="form-select" name="brand">
                                                <option value="Philips" <%=data.brand==="Philips" ? 'selected' : '' %>
                                                    >Philips</option>
                                                <option value="Sinoman" <%=data.brand==="Sinoman" ? 'selected' : '' %>
                                                    >Sinoman</option>
                                                <option value="Homesake" <%=data.brand==="Homesake" ? 'selected' : '' %>
                                                    >Homesake</option>
                                                <option value="Eliante" <%=data.brand==="Eliante" ? 'selected' : '' %>
                                                    >Eliante</option>
                                                <option value="Crompton" <%=data.brand==="Crompton" ? 'selected' : '' %>
                                                    >Crompton</option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Quantity</label>
                                            <input type="text" placeholder="0" class="form-control" name="quantity"
                                                value="<%= data.quantity %>">
                                        </div>

                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>2. Pricing</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Price in INR</label>
                                            <input type="text" placeholder="₹0" class="form-control" name="price"
                                                value="<%= data.price %>">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>3. Category</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <select class="form-select" name="category" value="<%= data.category.catname %>">
                                                <% category.forEach(cat=> { %>
                                                    <option value="<%= cat._id %>" <%=cat.catname===data.category.catname
                                                        ? 'selected' : '' %>>
                                                        <%= cat.catname %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>4. Media</h6>
                                    </div>
                                    <div class="col-md-9 card-body">
                                        <div class="mb-4 input-upload ">
                                            <div class="d-flex">
                                                <% for (let i=0; i < data.images.length; i++) { %>
                                                    <div>
                                                        <div><img src="/uploads/<%= data.images[i] %>" alt=""></div>
                                                        <div> <a href="" class="btn btn-sm font-sm rounded btn-brand"
                                                                onclick="deleteconfirm('<%= data._id %>','<%= data.images[i] %>')" data-toggle="modal"
                                                                data-target="#deleteModal">
                                                                Delete</a></div>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <input class="form-control" type="file" name="image" multiple>
                                    </div>
                                </div> <!-- col.// -->
                                <div>
                                    <input name="id" value="<%= data._id %>" hidden>
                                </div>
                        </div> <!-- .row end// -->
                        <hr class="mb-4 mt-0">
                        <div class="content-header">
                            <div>
                                <button type="submit" class="btn btn-md rounded font-sm hover-up">submit</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            </div>

        </section> <!-- content-main end// -->
        <%- include('../partials/afooter') %>
            <script>
                const form = document.getElementById("myform")

                form.addEventListener("submit", (event) => {
                    event.preventDefault();

                    const formData = new FormData(form);
                    const productData = {};
                    for (let [name, value] of formData) {
                        productData[name] = value;
                    }
                    delete productData.image
                    const file = form.image.files

                    const formData2 = new FormData()
                    formData2.append("productData", JSON.stringify(productData))
                    for (let i = 0; i < file.length; i++) {
                        formData2.append("image", file[i])
                    }

                    fetch("/admin/product/edit", {
                        method: "POST",
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        body: formData2,
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                window.location.href = "/admin/products"
                                
                            } else {
                                Toastify({
                                    text: data.message,
                                    gravity: "bottom", // `top` or `bottom`
                                    position: "center",
                                    style: {
                                        background: "#f00",
                                    }
                                }).showToast();
                            }
                        })
                        .catch(error => {
                            console.error("Error:", error)
                        })
                })
            </script>
            <script>
                let itemId=""
                let imageId=""

                function deleteconfirm(id,image) {
                    itemId = id
                    imageId=image
               
                    $('#exampleModal').modal('show')
                }

                function confirmDelete() {
                        fetch(`/admin/product/deleteimage?id=${itemId}&imageid=${imageId}`, {
                            method: 'DELETE',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest'
                            },
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.status) {
                                    window.location.reload()
                                 
                                } else {
                                    Toastify({
                                    text: data.message,
                                    gravity: "bottom", // `top` or `bottom`
                                    position: "center",
                                    style: {
                                        background: "#f00",
                                    }
                                }).showToast();
                                }
                            })
                            .catch(error => {
                            })
                 
                }
            </script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->

</html>