<!DOCTYPE HTML>
<html>

<head>
    <title>EcoLight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('../partials/ustylesheets') %>
</head>

<body>

        <%- include('../partials/uheader',{title:"" }) %>

    <div class="container" style="min-height: 500px;">

        <div class="d-flex" style="gap:100px; margin-top: 50px;">
            <div class="flex-grow-0" style="width: 200px; flex-shrink: 0;">
                <%- include('../partials/usersidebar',{option:"address"}) %>
            </div>
            <div class="flex-grow-1">
                <div>
                    <a href="/address/add" ><button class="btn btn-success" style="margin-bottom: 20px;">Add Address</button></a>
                </div>
                <% addressArray.forEach(user=> { %>
                <div style="background-color: rgb(235, 235, 235);  padding: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); margin-bottom: 20px;">
                    <p style="margin:2px 0"><span><%= user.firstname %> <%= user.lastname %></span> </p>
                    <p style="margin:2px 0"><span> <%= user.address %></span></p>
                    <p style="margin:2px 0"><span><%= user.city %>, <%= user.state %></span></p>
                    <p style="margin:2px 0"><span><%= user.pincode %></span></p>
                    <p style="margin:2px 0"><span>Mobile:<%= user.mobile %></span></p>
                </div>
                <% }); %>         
            </div>
        </div>

    </div>


    <%- include('../partials/ufooter') %>
</body>

</html>