<!DOCTYPE HTML>
<html>

<head>
	<title>EcoLight</title>
	<link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<%- include('../partials/ustylesheets') %>
</head>

<body>
	<%- include('../partials/uheader',{title:"Home" }) %>
	
		<div id="page">
			<aside id="colorlib-hero">
				<div class="flexslider ">
					<ul class="slides">
						<% banners.forEach(banner => { %>
						  <li>
							<a href="<%= banner.url %>">
							  <img src="uploads/<%= banner.image %>" alt="<%= banner.altText %>" />
							</a>
						  </li>
						<% }); %>
					  </ul>	  
				</div>
			</aside>

			<div class="colorlib-product">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
							<h2>Newly Arrived..!</h2>
						</div>
					</div>
					<div class="row row-pb-md">
						<% newproducts.forEach(prod=> { %>
						<div class="col-lg-3 mb-4 text-center">
							<div class="product-entry border">
								<a href="/productlist/productdetail?id=<%= prod._id %>" class="prod-img">
									<img src="uploads/<%= prod.images[0] %>" class="img-fluid" alt="Free html5 bootstrap 4 template">
								</a>
								<div class="desc">
									<h2><a href="#"><%= prod.name %></a></h2>	
								
										<span style="font-size: 16px; font-weight: 500;" >₹<%= prod.price %></span>
									
								</div>
							</div>
						</div>
						<% }); %>
					</div>
				</div>
			</div>
			<%- include('../partials/ufooter') %>
</body>

</html>