<!DOCTYPE HTML>
<html>

<head>
	<title>EcoLight</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<%- include('../partials/ustylesheets') %>
</head>

<body>
	<%- include('../partials/uheader',{title:"All"}) %>

		<div class="container">
			<div class="col d-flex justify-content-end mt-2 align-items-center">
				<div>
					<label for="dropdown" class="mt-1">Sort by: </label>
				</div>
				<div>
					<select id="dropdown" name="sort" onchange="commonfunction()">
						<option value="relevance">Relevance</option>
						<option value="lowhigh">Price: Low to High</option>
						<option value="highlow">Price: High to Low</option>
					</select>
				</div>
			</div>
		</div>


		<div class="colorlib-product">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-xl-3">
						<div class="row">
							<div class="col-sm-12">
								<div class="side border mb-1">
									<h3>Category</h3>
									<ul <% const uniqueCategory=[...new Set(productsfull.map(prod=>
										prod.category.catname))]
										uniqueCategory.forEach(category=> { %>
										<li><input type="checkbox" id="biobevelCheckbox" value="<%= category %>"
												class="category" onclick="commonfunction()">
											<%= category %>
										</li>
										</option>
										<% }); %>
									</ul>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="side border mb-1">
									<h3>Brand</h3>
									<ul <% const uniqueBrands=[...new Set(productsfull.map(prod=> prod.brand))]
										uniqueBrands.forEach(brand=> { %>
										<li><input type="checkbox" id="biobevelCheckbox" value="<%= brand %>"
												class="brand" onclick="commonfunction()">
											<%= brand%>
										</li>
										</option>
										<% }); %>
									</ul>
								</div>
							</div>

							<div class="col-sm-12">
								<div class="side border mb-1">
									<h3>Colors</h3>
									<ul>
										<% const uniqueColors=[...new Set(productsfull.map(prod=> prod.colour))]
											uniqueColors.forEach(colour=> { %>
											<li><input type="checkbox" id="biobevelCheckbox" value="<%= colour %>"
													class="colour" onclick="commonfunction()">
												<a href="#">
													<%= colour %>
												</a>
											</li>
											</option>
											<% }); %>
									</ul>
								</div>
							</div>
							<div class="col-sm-12 text-right">
								<button class="btn btn-primary" onclick="resetfunction()">Reset</button>
							</div>
						</div>
					</div>


					<div class="col-lg-9 col-xl-9">
						<div class="row row-pb-md">
							<% if (products.length!==0 ) {%>
								<% products.forEach(prod=> { %>
									<div class="col-lg-4 mb-4 text-center">
										<div class="product-entry border">
											<a href="/productlist/productdetail?id=<%= prod._id %>" class="prod-img">
												<img src="/uploads/<%= prod.images[0] %>" class="img-fluid"
													alt="Free html5 bootstrap 4 template" width="200px">
											</a>
											<div class="desc" style="text-align: left;">
												<h2><a href="#">
														<%= prod.name %>
													</a></h2>
												<h2><a href="#">
														<%= prod.brand %>
													</a></h2>
												<span class="price">₹<%= prod.price %></span>
											</div>
										</div>
									</div>
									<% }); %>
										<% } else { %>
											<div class="d-flex justify-content-center " style="width: 100%;">

												<img src="/images/no product.png" alt="Red Heart"
													style="width: 300px; height: auto;">
											</div>
											<% } %>
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<div class="block-27">
									<ul>
										<% if (typeof totalpages !=='undefined' ) {%>
											<% if (page> 1) { %>
												<a style="cursor: pointer;" onclick="commonfunction(<%= page - 1 %>)"
													class="prev">
													<li><i class="ion-ios-arrow-back"></i></li>
												</a>
												<% } %>
													<% for(let i=1; i<=totalpages;i++) { %>
														<a style="cursor: pointer;">
															<li class="<%= i == page ? 'active' : '' %>"
																onclick="commonfunction(<%=i%>)"><span>
																	<%=i%>
																</span></li>
														</a>
														<% }; %>
															<% if (page < totalpages) { %>
																<a style="cursor: pointer;">
																	<li><i class="ion-ios-arrow-forward"
																			onclick="commonfunction(<%= Number(page)+1 %>)"></i>
																	</li>
																</a>
																<% } %>
																	<% } %>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<%- include('../partials/ufooter') %>
			<script>

				const queryParams = new URLSearchParams(window.location.search);
				const selectedCategory = queryParams.get('category');

				function getCurrentSearchQuery() {
					const searchValue = queryParams.get('search');
					return searchValue ? `search=${searchValue}&` : '';
				}

				const searchInput = document.getElementById("searchvalue");
				searchInput.value = queryParams.get('search') || '';


				const categoryCheckboxes = document.querySelectorAll('.category');
				categoryCheckboxes.forEach(checkbox => {
					if (checkbox.value === selectedCategory) {
						checkbox.checked = true;
					}
				});

				const selectedBrand = queryParams.get('brand');
				const brandCheckboxes = document.querySelectorAll('.brand');
				brandCheckboxes.forEach(checkbox => {
					if (checkbox.value === selectedBrand) {
						checkbox.checked = true;
					}
				});


				const selectedColour = queryParams.get('colour');
				const colourCheckboxes = document.querySelectorAll('.colour');
				colourCheckboxes.forEach(checkbox => {
					if (checkbox.value === selectedColour) {
						checkbox.checked = true;
					}
				});


				const selectedSort = queryParams.get('sort');
				const dropdown = document.getElementById("dropdown")

				if (selectedSort) {

					for (let i = 0; i < dropdown.options.length; i++) {
						if (dropdown.options[i].value === selectedSort) {
							dropdown.options[i].selected = true;
							break;
						}
					}
				}

				function commonfunction(page) {
					let str = ""
					const selectedCategory = document.querySelector('.category:checked');
					const selectedBrand = document.querySelector('.brand:checked');
					const selectedColour = document.querySelector('.colour:checked');
					const selectedSort = document.getElementById("dropdown")
					const searchvalue = document.getElementById("searchvalue")
					if (selectedCategory?.value) {
						str += `category=${selectedCategory.value}&`
					}
					if (selectedBrand?.value) {
						str += `brand=${selectedBrand.value}&`
					}
					if (selectedColour?.value) {
						str += `colour=${selectedColour.value}&`
					}
					if (selectedSort?.value) {
						str += `sort=${selectedSort.value}&`
					}
					if (page) {
						str += `page=${page}`;
					}
					if (searchvalue?.value) {
						str += `search=${searchvalue.value}`;
					}

					window.location.href = "/product?" + str
				}
				function resetfunction() {
					window.location.href = "/product"
				}



			</script>


</body>

</html>