<!DOCTYPE HTML>
<html>

<head>
	<title>EcoLight</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<%- include('../partials/ustylesheets') %>
</head>

<body>
	<%- include('../partials/uheader',{title:""}) %>
	<div class="colorlib-loader"></div>

	<div id="page">
		
		<section class="vh-100 bg-image pt-4">
			<div class="mask d-flex align-items-center h-100 gradient-custom-3">
				<div class="container h-100">
					<div class="row d-flex justify-content-center align-items-center h-100">
						<div class="col-12 col-md-9 col-lg-7 col-xl-6">
							<div class="card" style="border-radius: 15px;">
								<div class="card-body p-5">
									<h2 class="text-uppercase text-center mb-3">Signup</h2>

									<form id="myForm" method="POST" action="/signup?refId=<%= refId %>">

										<div class="form-outline mb-2">
											<label class="form-label" for="form3Example1cg">Your Name</label>
											<input type="text" id="form3Example1cg" class="form-control form-control-lg"
												name="name" />
										</div>
										<span id="spanName" class="form-text text-danger"></span>
										<div class="form-outline mb-2 d-flex gap-2">
											<div class="flex-grow-1">
												<label class="form-label" for="form3Example1cg">Mobile Number</label>
												<input type="text" id="form3Example1cg"
													class="form-control form-control-lg" name="mobile" maxlength="10"
													minlength="10" />
											</div>
											<div class="align-self-end">
												<button type="button"
													class="btn btn-success btn-block btn-sm gradient-custom-4 text-body"
													id="otp1">Send OTP</button>
											</div>
										</div>
										<span id="spanMobile" class="form-text text-danger">
											<%= mob %>
										</span>
										<div class="form-outline mb-2 gap-2 d-none" id="enterOtp">
											<div class="flex-grow-1">
												<label class="form-label" for="form3Example1cg">Enter OTP</label>
												<input type="text" id="form3Example1cg"
													class="form-control form-control-lg  " name="otp" />
											</div>	
										</div>
										<span id="spanOtp" class="form-text text-danger"></span>
										<div class="form-outline mb-2">
											<label class="form-label" for="form3Example3cg">Your Email</label>
											<input type="email" id="form3Example3cg"
												class="form-control form-control-lg" name="email" />
											<span id="spanone" class="form-text text-danger">
												<%= email %>
											</span>
										</div>
										<span id="spanEmail" class="form-text text-danger"></span>
										<div class="form-outline mb-2">
											<label class="form-label" for="form3Example4cg">Password</label>
											<input type="password" id="form3Example4cg"
												class="form-control form-control-lg" name="password" />
										</div>
										<span id="spanPassword" class="form-text text-danger"></span>
										<div class="form-outline mb-2">
											<label class="form-label" for="form3Example4cdg">Repeat your
												password</label>
											<input type="password" id="form3Example4cdg"
												class="form-control form-control-lg" name="repeatpassword" />
										</div>
										<span id="spanPassword2" class="form-text text-danger"></span>
										<div class="d-flex justify-content-center">
											<button type="submit"
												class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
										</div>

										<p class="text-center text-muted mt-5 mb-0">Have already an account? <a
												href="#!" class="fw-bold text-body"><u>Login here</u></a></p>

									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
	</div>
	<%- include('../partials/ufooter') %>
	
	<style>
		.gradient-custom-4 {
		
			background: #B5E585;
		}
	</style>
	<script>
		const otp = document.querySelector("#otp1")
		const enterOtp = document.getElementById("enterOtp")
		const form = document.getElementById("myForm")

		otp.addEventListener("click", () => {
			const data = { mob: form.mobile.value }
			fetch("/sendOTP", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify(data),
			})

				.then(response => response.json())
				.then(data => {
					if (data.success) {
						enterOtp.classList.remove("d-none");
						enterOtp.classList.add("d-flex");
						form.mobile.setAttribute('readonly', 'readonly');
					} else {
						Toastify({
							text: data.error,
							gravity: "bottom", // `top` or `bottom`
							position: "center",
							style: {
								background: "#f00",
							}
						}).showToast();
					}
				})
				.catch(error => {
					console.error("Error:", error)
				})
		});

		form.addEventListener("submit", (event) => {
			if (form.name.value.trim() == "") {
				spanName.innerHTML = "Name required"
				event.preventDefault()
			}
			if (form.mobile.value.trim() == "") {
				spanMobile.innerHTML = "Mobile number required"
				event.preventDefault()
			}
			
		
			if (form.email.value.trim() == "") {
				spanEmail.innerHTML = "Email required"
				event.preventDefault()
			}
			if (form.password.value.trim() == "") {
				spanPassword.innerHTML = "Password required"
				event.preventDefault()
			}
			if (form.password.value != form.repeatpassword.value) {
				spanPassword2.innerHTML = "password is not same"
				event.preventDefault()
			}
			if (form.repeatpassword.value.trim() == "") {
				spanPassword2.innerHTML = "password required"
				event.preventDefault()
			}
			if (form.otp.value.trim()=="") {
				spanOtp.innerHTML = "OTP required"
				event.preventDefault()
			}

		})
		form.name.addEventListener("click", () => {
			spanName.innerHTML = ""

		})
	
		form.mobile.addEventListener("click", () => {
			spanMobile.innerHTML = ""

		})
		form.email.addEventListener("click", () => {
			spanEmail.innerHTML = ""

		})
		form.password.addEventListener("click", () => {
			spanPassword.innerHTML = ""

		})
		form.repeatpassword.addEventListener("click", () => {
			spanPassword2.innerHTML = ""

		})

	</script>
	

</body>

</html>